name: Build docker images
on:
  push:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"
      - "*.yml"

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push latest images on master branch
        uses: docker/build-push-action@v5
        if: github.ref == 'refs/heads/master'
        with:
          context: .
          platforms: linux/amd64
          push: true
          provenance: false
          sbom: false
          build-args: |
            NEXT_PUBLIC_PRIVY_APP_ID=${{ secrets.NEXT_PUBLIC_PRIVY_APP_ID }}
            NEXT_PUBLIC_UMAMI_WEBSITE_ID=${{ secrets.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
          tags: |
            ghcr.io/${{ github.event.repository.full_name }}:latest
      - name: Deploy to server on master branch
        uses: appleboy/ssh-action@master
        # Deploy only on master branch
        if: github.ref == 'refs/heads/master'
        with:
          host: ${{ secrets.DEPLOY_IP }}
          username: root
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }}
            docker pull ghcr.io/${{ github.event.repository.full_name }}:latest && docker-compose up -d

      - name: Build and push latest images on dev branch
        uses: docker/build-push-action@v5
        if: github.ref == 'refs/heads/dev'
        with:
          context: .
          platforms: linux/amd64
          push: true
          provenance: false
          sbom: false
          build-args: |
            NEXT_PUBLIC_PRIVY_APP_ID=${{ secrets.NEXT_PUBLIC_PRIVY_APP_ID }}
            NEXT_PUBLIC_UMAMI_WEBSITE_ID=${{ secrets.NEXT_PUBLIC_UMAMI_WEBSITE_ID }}
          tags: |
            ghcr.io/${{ github.event.repository.full_name }}:dev
      - name: Deploy to server on dev branch
        uses: appleboy/ssh-action@master
        # Deploy only on dev branch
        if: github.ref == 'refs/heads/dev'
        with:
          host: ${{ secrets.DEPLOY_IP }}
          username: root
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }}
            docker pull ghcr.io/${{ github.event.repository.full_name }}:dev && docker-compose up -d